<div class="content-section">
<strong class="ml-3" style="color:#22a7f0;font-size:120%;">Terms and Conditions of Use of The Power</strong><br><br>
<ol class="mb-5">
  <li><b>Acceptance The Use Of Our Terms and Conditions : </b></li>
  <p>
      Your access to and use of The Power is subject exclusively to these
      Terms and Conditions. You will not use the Website for any purpose that
      is <b style="color:red;"><i> unlawful or prohibited</i></b> by these Terms and Conditions. By using the
      Website you are fully accepting the terms, conditions and disclaimers contained
      in this notice. If you do not accept these Terms and Conditions you must immediately
      stop using the Website.
  </p>
  <li class="mt-3"><b>Posting Policy : </b></li>
  <p> Any <b style="color:red;"><i>Bad words, Racism, hate speech or any Unethical words</i></b> in user's posts will result
    <b style="color:red;">deleting</b> the user's account and a legal follow up if necessary.</p>
  <li class="mt-3"><b>Information Collection And Use : </b></li>
  <p>
    While using our Site, we may ask you to provide us with certain personally identifiable
    information that can be used to contact or identify you. Personally identifiable information
    may include, but is not limited to your name  (<b style="color:red;"><i>"Personal Information"</i></b> ).</p>
  <li class="mt-3"><b>Communications</b></li>
  <p>
    We may use your <b style="color:red;"><i>Personal Information</i></b> to contact you with newsletters, our latest
    announcements.
  </p>
  </ol>
</div>
