<div class="content-section">
<strong class="ml-3" style="color:#22a7f0;font-size:120%;">Termes et conditions d'utilisation de Le Pouvoir</strong><br><br>
<ol class="mb-5">
  <li><b>Acceptation de l'utilisation de nos termes et conditions : </b></li>
  <p>
    Votre accès et votre utilisation de <b>Le Pouvoir</b> sont soumis exclusivement à ces
    Termes et conditions. Vous n'utiliserez pas le site Web à des fins
    <b style = "color: red;"><i> illégales ou interdites </i> </b> par les présentes conditions d'utilisation. En utilisant le site Web,
     vous acceptez entièrement les termes, conditions et renonciations contenus dans cette notice. Si vous n'acceptez pas ces conditions, vous devez immédiatement cesser d'utiliser le site Web.
  </p>
  <li class="mt-3"><b>Politique de publication : </b></li>
  <p> Any <b style="color:red;"><i>Mauvais mots, racisme, discours de haine ou des mots contraires à l'éthique</i></b> dans les messages de l'utilisateur entraînera
    <b style="color:red;">la suppression</b>du compte de l'utilisateur et un suivi juridique si nécessaire.</p>
  <li class="mt-3"><b>Collecte d'informations et utilisation : </b></li>
  <p>
    Lors de l'utilisation de notre site, nous pouvons vous demander de nous fournir certaines informations personnelles identifiables.
     informations pouvant être utilisées pour vous contacter ou vous identifier. Informations personnellement identifiables
     peut inclure, mais n'est pas limité à votre nom  (<b style="color:red;"><i>"Informations personnelles"</i></b> ).</p>
  <li class="mt-3"><b>Les communications:</b></li>
  <p>
    Nous pouvons utiliser vos <b style = "color: red;"> <i> Informations personnelles </i> </b> pour vous contacter avec des bulletins d'information, nos dernières
    annonces.
  </p>
  </ol>
  </div>
